.buttonDisplay{
    background: rgb(58,164,35);
    padding-left:50px;
    padding-right:50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin:10px;
    width: calc(20%);
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 0.5cap;
    color:white;
    display: flex;
    font-size: clamp(10px,1.5vw,20px);
}
.buttonDisplay:active {
    transform: scale(0.95); 
    background: rgb(48,134,25);
}

.nombreSection{
    font-weight:bold ;
    margin-right:40px ;
}

