.buttonDisplay{
    background: rgb(125, 172, 55);
    padding-left:50px;
    padding-right:50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin:10px;
    width: calc(33%);
    height: calc(40%);
    justify-content: center;
    align-items: center;
    border-radius: 0.5cap;
    color:white;
    display: flex;
    font-size: clamp(10px,1.5vw,20px);
}

.nombreSection{
    font-weight:bold ;
    margin-right:40px ;
}

