.insertSecProd{
    
    align-items: center;
    padding-left: 40px;
    padding-right :40px;
    padding-top:20px;
    padding-bottom: 20px;
    }

.containerInsertProd{
    border:1px dashed rgb(193, 187, 187);
    border-radius: 0.5cap;
    display: flex;
    padding-left: 50px;
    padding-right :50px;
    padding-top:20px;
    padding-bottom: 20px;
    
}
.sectInsertProd{
    margin:20px;
    width: calc(100%);
}

.inputSectionProd{
    margin: 1px;
    border: solid rgb(210, 205, 205) 1px;
    color: black;
    border-radius: 1cap;
    padding: 10px;
    height: 25px;
    width: calc(100%);
}
.optionInic{
    color: rgb(229, 224, 224);
}
.cateogriaDivision{
    display: flex;
    align-items: center;;
}

.selectSectionProd{
    margin: 1px;
    border: solid rgb(210, 205, 205) 1px;
    border-radius: 1cap;
    width: calc(90%);
    padding: 10px;
    height: 50px;
}

.buttonInputSectionProd{
    margin-left: 10px;
    background-color:  rgb(125, 172, 55);
    color: white;
    border: none;
    border-radius: 1cap;
    padding: 10px;
    height: 40px;
    width: calc(30%);
}

.buttonInputSectionProd:hover{
    transform: scale(0.95);
}

.textAreaProd{
    border: solid rgb(210, 205, 205) 1px;
    border-radius: 1cap;
    padding: 10px;
    width: calc(100%);
    height: 100px;
    resize: none;
}


.zona-imagen {
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  color: #777;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.2s ease;
}

.zona-imagen:hover {
  border-color: #4CAF50;
  background-color: #f6fff7;
}

.preview-img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.boton-subir {
  background: #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-top: 8px;
}