.insertSecProd{
    
    align-items: center;
    padding-left: 40px;
    padding-right :40px;
    padding-top:20px;
    padding-bottom: 20px;
    }

.containerInsertProd{
    border:1px dashed rgb(193, 187, 187);
    border-radius: 0.5cap;
    display: flex;
    padding-left: 50px;
    padding-right :50px;
    padding-top:20px;
    padding-bottom: 20px;
    
}
.sectInsertProd{
    margin:20px;
    width: calc(100%);
}

.inputSectionProd{
    margin-bottom: 30px;
    border: solid rgb(210, 205, 205) 1px;
    color: black;
    border-radius: 1cap;
    padding: 10px;
    height: 25px;
    width: calc(100%);
}
.optionInic{
    color: rgb(210, 205, 205);
}
.cateogriaDivision{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.selectSectionProd{
    flex:1;
    margin-right: 10px;
    border: solid rgb(210, 205, 205) 1px;
    border-radius: 1cap;
    width: 100%;
    padding: 10px;
    height: 50px;
    color: rgb(147, 138, 138);

}

.buttonInputSectionProd{
    background-color:  rgb(58,164,35);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: calc(15%);
    height: calc(100%);
    height: 50px;
}

.buttonInputSectionProd:hover{
    transform: scale(0.95);
}

.textAreaProd{
    border: solid rgb(210, 205, 205) 1px;
    border-radius: 1cap;
    padding: 10px;
    width: calc(100%);
    height: 200px;
    resize: none;
}


.zona-imagen {
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  color: #777;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom:  30px; ;
}

.zona-imagen:hover {
  border-color: rgb(58,164,35);
  background-color: #f6fff7;
}

.preview-img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.boton-subir {
  background: #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-top: 8px;
}
.sectionSubmitProd{
    display: flex;
    justify-items: space-between;
    width: 100%;
}

.StockSection{
    border: solid rgb(210, 205, 205) 1px;
    color: black;
    border-radius: 1cap;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
}

.buttonSubmitProd{
   background-color:  rgb(58,164,35);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: calc(100%);
    height: calc(100%);
    height: 50px;
    margin-left:10px
}
.buttonSubmitProd:hover{
    transform: scale(0.95);
}