.buttonDisplay{
    background: rgb(125, 172, 55);
    padding-left:50px;
    padding-right:50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin:30px;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 0.5cap;
    color:white;
    display: flex;
    font-size: x-large;
}

.nombreSection{
    font-weight:bold ;
    margin-right:40px ;
}

