main{
margin-left: 40px;
margin-right: 40px;

}

#dashboardTitle{
    margin-left: 20px;
}

#buttonDisplaySection{
    padding:10px;
    display:flex;
    width: auto;
    justify-content: center;
    align-items: center;
    

}