
#dashboardTitle{
    margin-left: 40px;
}

#buttonDisplaySection{
    padding:10px;
    display:flex;
    width: auto;
    justify-content: center;
    align-items: center;

}
#sectionUsuarios{
    border:solid rgb(191, 191, 191) 1px;
    border-radius: 1cap;
    display: flex;
    justify-content: center;
}

.contendedoresDetallesUsuarios{
    padding: 30px;
    width: calc(100%);
    margin: 10px;

}

#headerSectionUsuarios{
    display: flex;
    justify-content: space-between;
}

#buttonVerUsuarios{
    background:  rgb(125, 172, 55);
    border:0px;
    border-radius: 0.5cap;
    color:white;
    height: 50px;
}
#buttonVerUsuarios:hover{
    transform: scale(0.95);
}
#headerSectionUsuarios img{
    margin-right: 20px;
}


#userTable {
    border: 1px solid  rgb(191, 191, 191) ;
    border-radius: 0.5cap;
    border-collapse: separate;
    border-spacing: 0;
    width: calc(100%);
    text-align: left;
    margin-top: 10px;
    table-layout: fixed;
}

#userTable tr,th,td{
    padding: 10px;
}
#userTable th,td{
    border-bottom: 1px solid rgb(191, 191, 191);
}

