
.dashboardTitle{
    margin-left: 40px;
}

.buttonDisplaySection{
    display:flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sectionUsuarios{
    display: flex;
    justify-content: center;

}

.contendedoresDetallesUsuarios{
    padding: 30px;
    width: calc(100%);
    margin: 10px;

}

.headerSectionUsuarios{
    display: flex;
    justify-content: space-between;
}

.buttonVerUsuarios{
    background:  rgb(125, 172, 55);
    border:0px;
    border-radius: 0.5cap;
    color:white;
    height: 50px;
}
.buttonVerUsuarios:hover{
    transform: scale(0.95);
}
.headerSectionUsuarios img{
    margin-right: 20px;
}


.generalTable {
    border: 1px solid  rgb(191, 191, 191) ;
    border-radius: 0.5cap;
    border-collapse: separate;
    border-spacing: 0;
    width: calc(100%);
    text-align: left;
    margin-top: 10px;
    table-layout: fixed;
}

.generalTable tr,th,td{
    padding: 10px;
}
.generalTable th,td{
    border-bottom: 1px solid rgb(191, 191, 191);
}
.generalTable tr:hover {
    background-color: rgb(229, 227, 227);
}

.detalleUsuario{
    border: 1px solid  rgb(191, 191, 191) ;
    border-radius: 0.5cap;
    padding:20px;
}

.headerDetalleUsuario{
    display: flex;
    justify-content: space-between;
}

.ordenesSection{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.5cap;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.encabezadoOrdenesSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionButtonsOrdenes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.buttonOrdenesSection{
    width: calc(45%);
    background:  rgb(125, 172, 55);
    border:0px;
    color:white;
    border-radius: 0.5cap;
    height: 40px;
    font-size: clamp(9px, 1.1vw, 15px);
}
.buttonOrdenesSection:hover{
    transform: scale(0.95); 
}