
.mainAdmin{
    margin-bottom: 20px;
}

.dashboardTitle{
    margin-left: 40px;
}

.buttonDisplaySection{
    display:flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sectionUsuarios{
    display: flex;
    justify-content: center;

}

.contendedoresDetallesUsuarios{
    padding: 30px;
    width: calc(100%);
    margin: 10px;

}

.headerSectionUsuarios{
    display: flex;
    justify-content: space-between;
}

.buttonVerUsuarios{
    background:  rgb(58,164,35);
    border:0px;
    border-radius: 0.5cap;
    color:white;
    height: 50px;
    align-items: center;
    display: flex;
}
.buttonVerUsuarios:hover{
    transform: scale(0.95);
}
.headerSectionUsuarios img{
    margin-right: 20px;
}




.detalleUsuario{
    border: 1px solid  rgb(191, 191, 191) ;
    border-radius: 0.5cap;
    padding:20px;
}

.headerDetalleUsuario{
    display: flex;
    justify-content: space-between;
}

.ordenesSection{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.5cap;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.encabezadoOrdenesSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionButtonsOrdenes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.buttonOrdenesSection{
    width: calc(45%);
    background: rgb(58,164,35);
    border:0px;
    color:white;
    border-radius: 0.5cap;
    height: 40px;
    font-size: clamp(9px, 1.1vw, 15px);
    display: flex;
    align-items: center;
}
.buttonOrdenesSection:hover{
    transform: scale(0.95); 
}