


.userTableView{
  border: 1px solid;
  padding: 8px 8px;
  text-align: left;

}


.imagenTabla{
  width: 20px;
  width: 20px;
}

.mainListaUsuarios {
    padding: 10px 30px;
}


.userTableView .Estado{
  color:green;
  
}

.principalB {
  padding: 0px 12px;


}

.mainListaUsuarios .BuscadorU{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.mainListaUsuarios .BuscadorU .bUsuario{
  flex: 1
}


.mainListaUsuarios .BuscadorU button {

    font-family: "Montserrat","sans-serif";
    color: white;
    border-radius: 1cap;
    border: 0px;
    width:auto ;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
    background: rgb(58,164,35);
    width: 90px;
    margin-right: 20px;
    cursor: pointer;
}

.mainListaUsuarios .BuscadorU {
    align-items: center;

}

.mainListaUsuarios .userTableView .estado_rojo{
  color:red;
}

.mainListaUsuarios .userTableView .estado_verde{
  color:green;
}

.userTableView tbody button{
    font-family: "Montserrat","sans-serif";
    color: white;
    border-radius: 1cap;
    border: 0px;
    height: 40px;
    padding: 10px 20px;
    background: rgb(58,164,35);
    cursor: pointer;
} 