.colorPedidoTabla{
    color: rgb(125, 172, 55);
    font-weight: bold ;
    text-decoration: underline;
}

.imgUserDetail{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}