#bOrden
{
  border-radius: 10px;
  border-color: solid rgb(223, 223, 223);
  height: 30px;
  width: 1100px;
}

.tableOrdersAdmin{
  padding: 16px 16px;
  text-align: left;
  border: solid;
}

.mainOrdersAdmin {
    padding: 10px 30px;
}

.tableOrdersAdmin button{
  background-color: rgb(58,164,35);
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.mainOrdersAdmin .buscarO{
  background-color: rgb(58,164,35);
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.mainOrdersAdmin section{
  display: flex;
  gap: 15px;
  align-items: center;
}


.mainOrdersAdmin .BuscadorU{
  display: flex;
  text-align: center;
  gap: 5px;
}

.mainOrdersAdmin .tableOrdersAdmin td{
  padding: 12px 25px;
}

.mainOrdersAdmin .tableOrdersAdmin thead{
  text-align: center;

}

.mainOrdersAdmin .tableOrdersAdmin .estado_rojo{
  color:red
}


.mainOrdersAdmin .tableOrdersAdmin .estado_verde{
  color:green
}


.mainOrdersAdmin .tableOrdersAdmin tbody .Id_Orden{
  color: green;

}


