.cambiar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #f6f6f6;
}

.cambiar-card {
  background-color: white;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.cambiar-card h2 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.8rem;
  font-weight: 600;
}

.campo {
  margin-bottom: 1.5rem;
}

.campo label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 0px 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-wrapper input:focus {
  border-color: #0d6efd;
}

.icono-ojo {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.1rem;
  color: #888;
}

.btn-cambiar {
  background-color: rgb(58, 164, 35);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cambiar:hover {
  background-color: rgb(58, 164, 35);
}

.btn-cambiar:active {
    transform: scale(0.95); 
}
