.card {
  position: relative;
  width: 500px;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-info {
  position: absolute;
  z-index: 2;
  color: white;
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 30px;
  width: 70%; 
  height: 100%;
  display: flex;
  flex-direction: column; 
  background: linear-gradient(to top,rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 70%)
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}

.card-platform {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 15px;
}

.precio {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}

.precionuevo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #40c057;
}

.precioanterior {
  font-size: 1rem;
  text-decoration: line-through;
  opacity: 0.7;
}

.descuento {
  background: #e60023;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.botoncarrito {
  background: #1a73e8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: auto;
  align-self: flex-start; 
  transition: background 0.3s;
  white-space: nowrap;
  margin-left: 50px;
}
.detalle-btn-agregar:hover {
  background: #155ab6;
}