.detalle-orden-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 950px;
    margin: 40px auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.detalle-orden-container h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.orden-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.orden-info h3 {
    font-size: 22px;
    font-weight: 700;
}

.orden-id {
    color: rgb(58, 164, 35);
}

.orden-datos {
    text-align: right;
}

.estado {
    color: rgb(58, 164, 35);
    font-weight: 600;
}

.productos-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.productos-section table {
    border: 1px solid  rgb(191, 191, 191) ;
    border-radius: 0.5cap;
    border-collapse: separate;
    border-spacing: 0;
    width: calc(100%);
    text-align: left;
    margin-top: 10px;
    table-layout: fixed;
}

.productos-section th, td {
    text-align: left;
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.productos-section th {
    font-weight: 600;
}

.producto-id {
    display: flex;
    align-items: center;
    gap: 8px;
}


.producto-id img {
    height: 50px;         
    width: auto;         
    border-radius: 4px;
    border: 1px solid #eee;
    object-fit: contain;   
    background-color: #fff;
}

.id-link {
    color:rgb(58, 164, 35);
    font-weight: 600;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.paginacion button {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.paginacion button.activo {
    background-color: rgb(58, 164, 35);
    color: white;
    border: none;
}

.paginacion span {
    padding: 0 4px;
    color: #555;
}
