#headerSection{
    width: auto;
    padding:40px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}


#LogoGamePlay{
    display: flex;
    height:20px;
    align-items: center;
    text-align: center;
}

#dotLogo{ 
    text-align: center;
    align-items: center;
    margin-left:20px;
    margin-right: 40px;
    font-size: 25px;
    color:rgb(58,164,35);    
}



#comprasButton{
    font-family: "Montserrat","sans-serif";
    color: white;
    border-radius: 1cap;
    border: 0px;
    width:auto ;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(58,164,35);
    width: 150px;
    margin-right: 20px;
    
}



#comprasButton:hover{
   transform: scale(0.95);
}

#usuarioButton{
    font-family: "Montserrat","sans-serif";
    border-radius: 1cap;
    border: 0px;
    width:auto ;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 10px;
    background: rgb(255, 255, 255);
    width: 150px;
    margin-right: 20px;
    
}

#usuarioButton:active {
        transform: scale(0.95); 
}

#usuarioButton:hover{
    transform: scale(0.95);
    background: rgb(208, 208, 208);
}