#navBarSection{
    background-color: rgb(58,164,35);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color:white;
}

nav ul{
    display: flex;
    list-style-type: none;
    
}



ul li{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

#imgCat{
    padding-right: -20px;
}

#ofertas{
    align-items: center;
    display: flex;
    margin-right: 40px;
}
#imgOfertas{
    margin-left: 20px;
}

.boton_NavBar{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 110px;
    cursor: pointer;
    background-color: rgb(58,164,35);
    border: none;
    padding: 0 10px; 
    font-size: 18px;
}