.paginacion-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px; 
    padding: 10px 0;
    gap: 5px;
}

.categoria-link {
    text-decoration: none;
    display: block;
    height: 100%;
    cursor: pointer;
}

.paginacion-item, .paginacion-flecha {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #333;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    min-width: 40px;
    text-align: center;
}

.paginacion-item.actual {
    background-color: rgb(58,164,35);
    border-color: rgb(58,164,35);
    color: white;
    font-weight: bold;
}
