.paginacion-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px; 
    padding: 10px 0;
    gap: 5px;
}

.categoria-link {
    text-decoration: none;
    display: block;
    height: 100%;
    cursor: pointer;
}

.paginacion-item, .paginacion-flecha {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #333;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    min-width: 40px;
    text-align: center;
}

.paginacion-flecha h3 {
    font-size: 1rem; 
    margin: 0; 
}

.paginacion-item.actual {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.paginacion-item:disabled, .paginacion-flecha:disabled {
    cursor: not-allowed;
    color: #ccc;
    border-color: #f0f0f0;
    background-color: #f9f9f9;
}
