


table{
  padding: 16px 16px;
  text-align: left;
  border: solid;
}


main {
    padding: 10px 30px;
}

table head{
  align-items: center;
}
table td{
  padding: 12px 12px;

}

main .l1{
  display: flex;
  align-items: center;
  gap: 5px;
}

main div .estado_rojo{
  color:red;
}

main div .estado_verde{
  color:green;
}


main table tbody .Id_Producto{
  color: green;

}

main div .infoO{
  display: flex;
  align-items:end;
  gap: 530px;
  
}

main div .infoO .estado{
  display: flex;

  gap: 5px;
  

}

main .Principal .infoO .orden{
  display: flex;
  gap: 5px;

}
main .Principal .infoO .N_Orden{
  color: green;
}




main .Principal{
  border: solid 1px gray;
  padding: 40px;
}


main .Principal .Monto{
  text-align: right;
}

main .Principal table tbody img{
  width: 80px;
  height: 80px;
}



