.mas-vendido-seccion {
    max-width: 1200px;
    margin: 40px auto; 
    padding: 0 20px;
    
}

.mas-vendido-titulo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #333;
}

.mas-vendido-contenedor {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.mas-vendido-link {
    text-decoration: none;
    display: block; 
    height: 100%;
    flex-shrink: 0;
    width: 250px;
    margin: 0; 
    padding: 0;
}
