#Resumen_final{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 1100px;
    height: 600px;
}

#derecha{
    padding-left: 30px;
}

#envio{
    border: 2px solid #ccc;
    width: 500px;
    border-radius: 10px;
    height: 200px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 30px;
}