main{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.carrito_headers{
    display: flex;
    align-items: baseline;
}

#cantidad{
    padding-left: 10px;
}

.resumen{
    margin-left: auto;
    margin-right: 295px;
}

.compras{
    display: flex;
}

.resumen_compra{
    border: 2px solid #ccc;
    border-radius: 10px;
}

.resumen_info{
    border: 2px solid #ccc;
    width: 500px;
    border-radius: 10px;
    height: 400px;
    margin-left: auto;
    margin-right: 20px;
}

.contenido{
    
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.precios{

    text-align: right;
    
}

#boton1{
    color: white;
    background-color: rgb(58, 164, 35);
    border: 0;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    
    
}

#boton1:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* sombra externa */
  background-color: #0fc036; /* opcional: cambia color de fondo */
}

#botonCont{
    text-align: center;
    padding-bottom: 20px;
}