.field {
  display: flex;
  flex-direction: column;
}

.field p {
  margin-bottom: 6px;
  font-weight: 500;
}

.field input {
  width: 100%;
  box-sizing: border-box;
}

#register
{
    column-count: 2;
    column-gap: 60px;
    grid-template-columns: 1fr 1fr; 
    justify-content: space-between;
}

#register p {
    margin-bottom: 5px;
    font-weight: 500;
}

#register input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
    width: 100%;
}