.producto-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; 
    border-radius: 5px;
    overflow: hidden;
    background-color: white; 
    transition: box-shadow 0.2s;
}

.producto-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.producto-img-container {
    width: 100%;
    padding-left: 10px;
    height: 180px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.producto-imagen {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.producto-info {
    padding: 10px 10px 15px 10px; 
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.producto-titulo {
    font-size: 11pt;
    font-weight: 200;
    margin: 0 0 5px 0;
    line-height: 1.3;
    height: 70px; 
    text-decoration: none;
    color: #333;
}

.producto-categoria {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.producto-precio {
    font-size: 1.1rem;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 10px;
}

.producto-boton-agregar {
    background-color: transparent;
    border: 1px solid #4CAF50; 
    color: #4CAF50;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: auto; 
}

.producto-boton-agregar:hover {
    background-color: #4CAF50;
    color: white;
}
